:root {
    --brand-primary: #0A76D8;
    --brand-primary-hover: #006DD3;
    --brand-primary-text: #FFFFFF;

    --brand-secondary: #D8EBFA;
    --brand-secondary-hover: #D3E6F6;
    --brand-secondary-text: #1969AA;

    --brand-shadow: rgba(57, 108, 240, 0.3);
}

[data-bs-theme='dark'] {
    --brand-primary: #1E78CC;
    --brand-primary-hover: #1864B4;

    --brand-secondary: #2A3137;
    --brand-secondary-hover: #31383E;
    --brand-secondary-text: #AFC8E5;

    --brand-shadow: rgba(30, 120, 204, 0.2);
}

/* ============================
   Botones
============================ */

.btn-primary {
    background-color: var(--brand-primary) !important;
    border: 1px solid var(--brand-primary) !important;
    color: var(--brand-primary-text) !important;
    box-shadow: 0 3px 5px 0 var(--brand-shadow) !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--brand-primary-hover) !important;
    border-color: var(--brand-primary-hover) !important;
    color: var(--brand-primary-text) !important;
}

.btn-secondary {
    background-color: var(--brand-secondary) !important;
    color: var(--brand-secondary-text) !important;
    border: none !important;
    font-weight: 525 !important;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background-color: var(--brand-secondary-hover) !important;
    color: var(--brand-secondary-text) !important;
}

.btn-danger {
    box-shadow: 0 3px 5px 0 rgba(220, 53, 69, 0.3) !important;
}

[data-bs-theme='dark'] .btn-danger {
    box-shadow: 0 3px 5px 0 rgba(255, 107, 129, 0.2) !important;
}

.btn-success {
    box-shadow: 0 3px 5px 0 rgba(25, 135, 84, 0.3) !important;
}

[data-bs-theme='dark'] .btn-success {
    box-shadow: 0 3px 5px 0 rgba(78, 203, 113, 0.2) !important;
}

/* ============================
   Enlaces
============================ */
.link-primary {
    color: var(--brand-primary) !important;
    text-decoration-color: var(--brand-primary) !important;
}

.link-primary:hover,
.link-primary:active,
.link-primary:focus {
    color: var(--brand-primary-hover) !important;
    text-decoration-color: var(--brand-primary-hover) !important;
}

/* ============================
   Formularios
============================ */
.form-control {
    box-sizing: border-box !important;
    transition:
        box-shadow 0.2s ease,
        border-color 0.2s ease;
}

.form-control:focus,
.form-select:focus {
    color: var(--bs-body-color);
    border-color: var(--brand-primary);
    outline: 0;
    box-shadow: 0 0 0 1px var(--brand-primary);
}

.form-check-input:checked {
    background-color: var(--brand-primary) !important;
    border-color: var(--brand-primary) !important;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: var(--brand-primary) !important;
}

/* ============================
   Navegación
============================ */
.nav-link,
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: var(--brand-secondary-text);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: var(--brand-primary-text);
    background-color: var(--brand-primary);
    box-shadow: 0 3px 5px 0 var(--brand-shadow) !important;
}

/* ============================
   Tablas y fondos en modo oscuro
============================ */
[data-bs-theme='dark'] .table {
    --bs-table-bg: rgba(36, 41, 46, 1) !important;
}

[data-bs-theme='dark'] .bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(36, 41, 46, 1) !important;
}

/* ============================
   Tablas: Estética
============================ */
.table tbody tr:last-child td {
    border-bottom: none;
}

.table th {
    position: relative;
    border-bottom: none;
    padding-bottom: 0.75rem;
}

.table th::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px;
    height: 3px;
    background-color: var(--brand-primary);
}