@model IEnumerable<medical_appointment_system.Models.Appointment>

@{
    ViewBag.Title = "Inicio";
}

<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet" />
<link href="~/Content/Css/Calendar.css" rel="stylesheet" />

<div class="mb-3 d-flex flex-wrap gap-2 align-items-center justify-content-center">
    <span class="badge border bg-primary-subtle border-primary-subtle text-primary-emphasis rounded-pill">
        <i class="fa-solid fa-calendar-check me-1"></i> Confirmada
    </span>
    <span class="badge border bg-warning-subtle border-warning-subtle text-warning-emphasis rounded-pill">
        <i class="fa-solid fa-hourglass-half me-1"></i> Pendiente
    </span>
    <span class="badge border bg-danger-subtle border-danger-subtle text-danger-emphasis rounded-pill">
        <i class="fa-solid fa-ban me-1"></i> Cancelada
    </span>
    <span class="badge border bg-success-subtle border-success-subtle text-success-emphasis rounded-pill">
        <i class="fa-solid fa-check me-1"></i> Atendida
    </span>
</div>

<div id="calendar"></div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <script>
        window.appointmentEvents = [
            @foreach (var appointment in Model)
            {
                var startDateTime = appointment.Date.Add(appointment.Time);
                var endDateTime = startDateTime.AddHours(1);
                var timeFormatted = appointment.Time.ToString(@"hh\:mm");

                <text>
                {
                    title: '',
                    start: '@startDateTime.ToString("yyyy-MM-ddTHH:mm:ss")',
                    end: '@endDateTime.ToString("yyyy-MM-ddTHH:mm:ss")',
                    timeFormatted: '@timeFormatted',
                    status: '@appointment.Status.ToLower()',
                    id: '@appointment.AppointmentId'
                },
                </text>
            }
        ];
    </script>
    <script src="~/Scripts/calendar.js"></script>
}