@model Web.Models.Patients.PatientDetailDTO
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Editar paciente";
}

<h4 class="text-center mb-3 text-body-emphasis">
    <i class="fa-solid fa-pen me-1"></i>
    Editar paciente
</h4>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <p class="text-danger mb-3">
        * Obligatorio
    </p>

    <input asp-for="UserId" type="hidden" />

    <div class="row mb-2">
        <div class="col-md-6 mb-2">
            <label class="form-label">Código</label>
            <input type="text" class="form-control" value="@Model.UserId" disabled />
        </div>

        <div class="col-md-6">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" placeholder="Ingrese nombre" disabled />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6 mb-2">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" placeholder="Ingrese apellido" disabled />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" placeholder="correo@ejemplo.com" disabled />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6 mb-2">
            <label asp-for="BirthDate" class="form-label"></label>
            <span class="text-danger">*</span>
            <input asp-for="BirthDate" type="date" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="BloodType" class="form-label"></label>
            <select asp-for="BloodType" class="form-select"
                    asp-items="@(new SelectList(new[] {
                        new { Value = "A+", Text = "A+" }, new { Value = "A-", Text = "A-" },
                        new { Value = "B+", Text = "B+" }, new { Value = "B-", Text = "B-" },
                        new { Value = "AB+", Text = "AB+" }, new { Value = "AB-", Text = "AB-" },
                        new { Value = "O+", Text = "O+" }, new { Value = "O-", Text = "O-" }
                    }, "Value", "Text", Model.BloodType))">
                <option value="">Seleccione un grupo sanguíneo</option>
            </select>
            <span asp-validation-for="BloodType" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-end gap-2 mt-3">
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-left-long me-1"></i>
            Volver
        </a>

        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-floppy-disk me-1"></i>
            Guardar
        </button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
