{
    "CloudinarySettings": {
        "CloudName": "your-cloud-name",
        "ApiKey": "your-api-key",
        "ApiSecret": "your-api-secret"
    },
    "ServiceApi": {
        "ApiBaseUrl": "https://api.example.com",
        "ApiKey": "your-api-key"
    }
}